@use './mixin.scss'as *;
@use './variables.scss'as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: $FontName;
    list-style: none;
}

body {
    min-width: 320px;
}

.container {
    max-width: 1160px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

button,
input {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.header__nav-title {
    @include text(22px, #1c1b1f)
}

.purple {
    color: $purple;
    transition: 0.3s;

    &:hover {
        background: #e6ddff;
    }
}

.red {
    color: $red;
    transition: 0.3s;

    &:hover {
        background: #ffe1e1;
    }
}

.addBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    width: 56px;
    height: 56px;
    background:  linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11));
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    
    @media (max-width: 1010px) {
        bottom: 15px; // Прижимаем ближе к самому низу экрана
        right: 15px;  // И ближе к правому краю
        
        // Если кнопка слишком большая, можно её слегка уменьшить на мобилках:
        transform: scale(0.9); 
    }
}